body {
    background-color: #121212;
   }  

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
      "portfolio surf"
      "news news";
    max-width: 500px;
    margin: auto
      /* "footer footer"; */
  }

.gridItem{
    background-color: #282d32;
    border-radius: 2px;
    border-width: 1px;
    border-color: #828282;
    border-style: solid;
    }

p, .gridItem {
	font-size: 16px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #E0E0E0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.news{
    grid-column: 1/3;
}

.title{
    font-variant: small-caps;
    display: flex;
    justify-content: center;
}

.getter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.fetchButton{
    background-color:#E0E0E0;
    color: #121212;
    font-size: 20px;
    font-variant: small-caps;
	margin: auto;
	line-height: 22.4px;
    border-radius: 10px;
    border-width: 0;
    padding:7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
