
/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/

/* Old fonts not used:
@import url(http://fonts.googleapis.com/css?family=Cutive%20Mono:400);
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap); 
*/

/*@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap);*/

@import url(https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');


p {
	font-size: 16px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232;
  
}


body {
  background-color: #ebe5e5;
 }

/* ------------------------------------------------------------------------------
	Grid stuff
-------------------------------------------------------------------------------*/

.grid_items {
  padding: 2px;
  display: grid;
  grid-template-columns: 100%;
  max-width: 800px; 
  margin: 0 auto 0 auto !important;
  padding: 0 5 0 5; 
  grid-column-gap: 5px;
  grid-row-gap: 20px;
}
.grid_items > div {
  background-color: #ffffff;
  padding: 2px;
  border-radius: 2px;
  width: 180px;
  margin:auto;
}
.grid_items > div:nth-child(3n + 2) {
  background-color: #ffffff;
}
.grid_items > div:nth-child(3n) {
  background-color: #ffffff;
}


/* ------------------------------------------------------------------------------
	DIFFERENT SCREEN SIZES
-------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------
	DIFFERENT SCREEN SIZES
-------------------------------------------------------------------------------*/

/* One column*/
@media only screen and (min-width: 250px) {
  .grid_items {
    grid-template-columns: 47.5% 47.5%;;
    max-width: 420px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
  }

  .wrap {
    grid-template-columns: 100%;
    max-width: 420px; 
    margin: 0 auto 0 auto !important;
	  padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }
  .grid_items > div {
    padding: 2px;
  }
  .rubric {
    text-align: left;
  }
}

/* Two columns*/
@media only screen and (min-width: 800px) {
  .grid_items, .wrap {
    grid-template-columns: 23% 23% 23% 23%;
    max-width: 900px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: left;
  }
  .grid_items > div {
    padding: 2px;
  }
}


ul {
	font-size: 18px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ul, ol {
	margin: 5px 5px;
	padding: 0;
}
ul li {
   list-style-position: inside;
}

/* ------------------------------------------------------------------------------
	Lists
-------------------------------------------------------------------------------*/

h1 {
	font-family: "Catamaran";
	font-variant: small-caps;
	font-size: 60px;
	color: #320064;
	font-weight: 900;
	font-kerning: 50;
	margin: 0px 0px 30px 0px  ;
	height: 40px;
}
h2 {
	font-family: "Heebo";
	font-size: 16px;
	color: #2d3033;
	margin: 0;
	font-weight: 1000;
}


/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/

/* Links as buttons */
a {
	xxfont-family: "Heebo";
	font-size: 16px;
	font-weight: 300;
    xxbackground-color: lightblue ;
    xxcolor: white;
    padding: 0.05em 0.10em;
    text-decoration: none;
    text-transform: none;
    border-radius: 8px;
}

/* unvisited link */
a:link {
  color: #320064;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(255, 173, 31);
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

body {
	font-family: "Crimson Text";
	font-weight: 400;
	color: #323232;
	max-width: 1800px; 
	margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
	float: none !important; 
}

.footer {
  height:300px
}