/* FOOTER */


.footer {
  height:300px
}

.footer-dark {
    padding:20px 0;
    color:#f0f9ff;
    background-color:#282d32;
    font-family:Arial, Helvetica, sans-serif
}
  
  .footer-dark h3 {
    margin-top:12px;
    margin-bottom:6px;
    font-weight:200;
    font-size:16px;
    color:#ebe5e5;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    color:#ebe5e5;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
    color:orange;
  }
  
 
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  

  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
    color:#ebe5e5;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  
  .footer-dark .row {
    display: flex;
    width:350px;
    margin:auto;
  }
  
  .footer-dark .column {
    flex: 50%;
    text-align:center;
  }

  .footer-dark .footer-finalrow {
    text-align:center;
    margin: 30px;
    color:#ebe5e5;
  }

  .footer-dark .footer-finalrow p {
    text-align:center;
    margin:0 8px;
    color:#fff;
    opacity:0.6;
  }
    
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    text-decoration: none;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.6;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.8;
    color:orange;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
    color:#fff;
  }
