
/* ------------------------------------------------------------------------------
	START Typography
-------------------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');


/* ------------------------------------------------------------------------------
	END Typography
-------------------------------------------------------------------------------*/


p {
	font-size: 16px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232; 
}


body {
  background-color: #ebe5e5;
 }

.rubric-launch{
  color:#b3abab
}



/* ------------------------------------------------------------------------------
	Grid stuff
-------------------------------------------------------------------------------*/

.grid_items {
  padding: 2px;
  display: grid;
  grid-template-columns: 100%;
  max-width: 800px; 
  margin: 0 auto 0 auto !important;
  padding: 0 5 0 5; 
  grid-column-gap: 5px;
  grid-row-gap: 20px;
}
.grid_items > div {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  width: 360px;
  margin:auto;
}
.grid_items > div:nth-child(3n + 2) {
  background-color: #ffffff;
}
.grid_items > div:nth-child(3n) {
  background-color: #ffffff;
}


/* ------------------------------------------------------------------------------
	SCREEN SIZES - BUT THIS PAGE ONLY HAS ONE SCREEN
-------------------------------------------------------------------------------*/

/* One column*/
@media only screen and (min-width: 250px) {
  .grid_items {
    grid-template-columns: 100%;
    max-width: 420px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }

  .wrap {
    grid-template-columns: 100%;
    max-width: 360px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }
  .grid_items > div {
    padding: 10px;
  }

  .rubric, .rubric-launch {
    text-align: left;
  }


}






ul {
	font-size: 18px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ul, ol {
	margin: 5px 5px;
	padding: 0;
}
ul li {
   list-style-position: inside;
}

/* ------------------------------------------------------------------------------
	Lists
-------------------------------------------------------------------------------*/

h1 {
	font-family: "Catamaran";
	font-variant: small-caps;
	font-size: 60px;
	color: #dad5df;
	font-weight: 900;
	font-kerning: 50;
	margin: 0px 0px 30px 0px  ;
	height: 40px;
}
h2 {
	font-family: "Heebo";
	font-size: 16px;
	color: #2d3033;
	margin: 0;
	font-weight: 1000;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	font-weight: 700;
}

/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/

/* Links as buttons */
a {
	xxfont-family: "Heebo";
	font-size: 16px;
	font-weight: 300;
    xxbackground-color: lightblue ;
    xxcolor: white;
    padding: 0.05em 0.10em;
    text-decoration: none;
    text-transform: none;
    border-radius: 8px;
}

/* unvisited link */
a:link {
  color: #cbc7cf;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #cbc7cf;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  /* color: rgb(255, 173, 31); */
  border-color: rgb(255, 173, 31);
  text-decoration: none;
  opacity:1;
  border-color: rgb(255, 173, 31);
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	color: #323232;
	max-width: 1800px; 
	margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
	float: none !important; 
}



/* FOOTER */

.footer-dark {
    padding:20px 0;
    color:#f0f9ff;
    background-color:#282d32;
    font-family:Arial, Helvetica, sans-serif
}
  
  .footer-dark h3 {
    margin-top:12px;
    margin-bottom:6px;
    font-weight:200;
    font-size:16px;
    color:#ebe5e5;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    color:#ebe5e5;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
    color:orange;
  }
  
 
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  

  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
    color:#ebe5e5;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  
  .footer-dark .row {
    display: flex;
    width:350px;
    margin:auto;
  }
  
  .footer-dark .column {
    flex: 50%;
    text-align:center;
  }

  .footer-dark .footer-finalrow {
    text-align:center;
    margin: 30px;
    color:#ebe5e5;
  }

  .footer-dark .footer-finalrow p {
    text-align:center;
    margin:0 8px;
    color:#fff;
    opacity:0.6;
  }
  
 
  
  
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    text-decoration: none;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.6;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.8;
    color:orange;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
    color:#fff;
  }


  .dashboardButton, .dashboardButtonMore, .libraryButton, .libraryButtonAPI {
    background-color: transparent;
    border: 1px solid rgb(126, 114, 114);
    color: rgb(126, 114, 114);
    font-family: MetricWeb,sans-serif;
    line-height: 16px;
    font-weight: 600;
    border-radius: 150px;
    box-sizing: content-box;
    align-items: flex-start;
    display: inline-block;
    font-size: 12px;
    margin: 1px 2px 1px 2px;
    text-decoration: none;
    max-width: 100px;
    outline-offset: 2px;
    overflow: hidden;
    padding: 5px 12px;
    text-align: left;
    text-overflow: ellipsis;
    transition: border-color,background-color .5s ease;
    white-space: nowrap;
  }

  .dashboardButtonMore, .dashPageMore {
    background-color: rgb(255, 173, 31);
    border: 1px solid rgb(255, 173, 31);
    color: rgb(37, 36, 36) !important;
    opacity: 0.7;
  }

  .dashboardButtonMore a:hover {
    opacity: 0.9;
  }

  .libraryButton {
    background-color: rgb(0, 47, 167);
    border: 0px solid rgb(0, 47, 167);
    font-weight: 200;
    max-width: 200px;
    color: rgb(250, 250, 250) !important;
    opacity: 0.8;
    text-decoration: none !important;
  }

  .libraryButtonAPI {
    background-color: rgb(0, 170, 50);
    border: 0px solid rgb(0, 170, 50);
    font-weight: 200;
    color: rgb(250, 250, 250) !important;
    opacity: 0.8;
    text-decoration: none !important;
  }

  

  .darkButton {
    background-color: null;
    border: 0px solid rgb(255, 173, 31);
    color: rgb(207, 204, 204) !important;
    text-decoration: underline;
    font-family: MetricWeb,sans-serif;
    font-weight: 600;
  }

  .readingList {
    background-color:none;
    font-family: MetricWeb,sans-serif;
    font-weight: 200;
    font-size: 14px;
    max-width: 200px;
    color: rgb(0, 170, 50) !important;
    opacity: 0.8;
    text-decoration: none !important;
  }

  .readingList a:hover {
    opacity: 1;
  }

  




/* CSS FOR THE DASHBOARDS PAGE */

.dashPage, .dashPageMore {
    border: 2px;
    border-style: solid;
    border-color: rgb(126, 114, 114);
    border-radius: 10px;

    margin: 1px 2px 10px 2px;

    padding: 5px 12px;

    max-width: 100%;
    height: 50px;
    
    color: rgb(126, 114, 114);
    font-family: MetricWeb,sans-serif;
    line-height: 16px;
    font-weight: 600;
    
    box-sizing: content-box;
    align-items: flex-start;
    display: inherit;
    font-size: 12px;
    
    text-decoration: none;
    
    outline-offset: 2px;
    overflow: hidden;
    text-align: left;
    /* text-overflow: ellipsis;
    transition: border-color,background-color .5s ease; */
    white-space: nowrap;
  }

.rapidboards a.dashPage:hover {
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 173, 31);
    border-radius: 10px;    
  }

#colourButton {
    border:2px;
    border-style:dashed;
    border-top-color: hotpink;
    border-right-color: yellow;
    border-bottom-color: red;
    border-left-color: orange;
} 

#colourButton:hover {
  border:2px;
  border-style:dotted;
  border-color: rgb(126, 114, 114);
} 


.dashPage-title, .dashPage-rubric {
  margin: 0;
  font-family: MetricWeb,sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgb(207, 204, 204)
}


.dashPage-rubric{
  font-weight: 400;
}

.dashIcons{
  fill:rgb(207, 204, 204);
  /* fill:rgb(255, 173, 31); */
  position:relative;
  left:+290px;
  top:-40px;
  width:40px;
  height:40px;
} 

.dashPage:hover svg{
  fill:rgb(255, 173, 31);
  transition: fill 2000ms linear;
} 

#environment:hover svg{
  fill:green;
  transition: fill 2000ms linear;
} 


/* ////// SPINNING FOOTBALL, SHAKING HOUSE ///// */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}

@keyframes houseShake {
  0% { transform: rotate(0); }
  15% { transform: rotate(15deg); }
  30% { transform: rotate(-12deg); }
  45% { transform: rotate(10deg); }
  60% { transform: rotate(-8deg); }
  75% { transform: rotate(6deg); }
  85% { transform: rotate(-4deg); }
  92% { transform: rotate(2deg); }
  100% { transform: rotate(-1deg); }
}

#football {
  animation: spin 4s linear infinite;
}

#housing {
  animation: houseShake 1s linear infinite;
}
/* ////// SPINNING FOOTBALL, SHAKING HOUSE ///// */