
/* ------------------------------------------------------------------------------
	START Typography
-------------------------------------------------------------------------------*/

/* @import url(https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap); */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@300;400&display=swap');



h1 {
	font-family: "Catamaran";
	font-variant: small-caps;
	font-size: 60px;
	color: rgb(100,100,200);
	font-weight: 900;
	font-kerning: 50;
	margin: 0px 0px 30px 0px  ;
	height: 40px;
  justify-content: center;
}

h2 {
	font-family: "Tangerine";
	font-size: 40px;
	color: rgba(100,100,100);
	margin: 10px 0 0 0;
	font-weight: 1000;
}

h3 {
	font-family: "Montserrat";
	font-variant: small-caps;
	font-size: 60px;
	color: rgb(100,100,200);
	font-weight: 900;
	font-kerning: 50;
	margin: 0px 0px 30px 0px  ;
	height: 40px;
  justify-content: center;
}

h4 {
	font-family: "Montserrat";
  font-variant: small-caps;
	font-size: 30px;
	color: rgba(50,50,50);
	margin: 10px 0 0 0;
	font-weight: 400;
}


.heading{
  justify-content: center !important;
  max-width: 820px; 
  margin: 0 auto 0 auto !important;
  padding: 0 5 0 5; 
  background-color:rgba(230,230,230);
  text-align: center;
}

.wrap {
  grid-template-columns: 100%;
  max-width: 650px; 
  margin: 0 auto 0 auto !important;
  padding: 0 5 0 5; 
  grid-column-gap: 10px;
  grid-row-gap: 40px;
}


p {
	font-size: 16px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232; 
}

ul, li {
  justify-content: left;
  margin: 10;
  padding: 20;

}

/* ------------------------------------------------------------------------------
	END Typography
-------------------------------------------------------------------------------*/


/* ------------------------------------------------------------------------------
	Grid stuff
-------------------------------------------------------------------------------*/

.mapContainer {
  display: block;
  margin: auto;
 
  padding: 20px;

  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  
  max-width: 665px; 
  
}

.map {
  background-color: #ffffff;

  display:inline-block;
  justify-content: center;
  
  border-radius: 10px;
  
  padding: 5px;
  margin:5px;
}

.mapBig {
  
  background-color: #ffffff;
  
  border-radius: 20px;
  
  padding: 20px;
  margin:5px auto 5px auto

}



body {
    background-color: rgba(230,230,230);
   }
  
  .rubric-launch{
    color:#b3abab
  }
  

.rubric {
    text-align: left;
  }




