
/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/

/* Old fonts not used:
@import url(http://fonts.googleapis.com/css?family=Cutive%20Mono:400);
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap); 
*/

@import url(https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

p {
	font-size: 18px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232;
}


/* ------------------------------------------------------------------------------
	Lists
-------------------------------------------------------------------------------*/

.grid_items {
  padding: 3.75%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 0;
  grid-row-gap: 20px;
}
.grid_items > div {
  background-color: RoyalBlue;
  padding: 10px;
}
.grid_items > div:nth-child(3n + 2) {
  background-color: DodgerBlue;
}
.grid_items > div:nth-child(3n) {
  background-color: DeepSkyBlue;
}


@media only screen and (min-width: 640px) {
  .grid_items {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 40px;
  }
  .grid_items > div {
    padding: 20px;
  }
}


@media only screen and (min-width: 981px) {
  .grid_items {
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 50px;
  }
  .grid_items > div {
    padding: 30px;
  }
}




ul {
	font-size: 18px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ul, ol {
	margin: 5px 5px;
	padding: 0;
}
ul li {
   list-style-position: inside;
}

/* ------------------------------------------------------------------------------
	Lists
-------------------------------------------------------------------------------*/

h1 {
	font-family: "Catamaran";
	font-variant: small-caps;
	font-size: 60px;
	color: #320064;
	font-weight: 900;
	font-kerning: 50;
	margin: 0px 0px 30px 0px  ;
	height: 40px;
}
h2 {
	font-family: "Heebo";
	font-size: 16px;
	color: #2d3033;
	margin: 0;
	font-weight: 1000;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	font-weight: 700;
}

/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/

/* Links as buttons */
a {
	font-family: "Heebo";
	font-size: 14px;
	font-weight: 700;
    xxbackground-color: white ;
    xxcolor: white;
    xxpadding: 0..25em 0.75em;
    text-decoration: none;
    text-transform: none;
    xxborder-radius: 8px;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

body {
	font-family: "Crimson Text";
	font-weight: 400;
	color: #fff;
	max-width: 800px; 
	margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
	float: none !important; 
}




.section {
	padding: 20px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.extra-padding {
	margin: 60px 0 0 100px;
}

/* ------------------------------------------------------------------------------
	 Header
-------------------------------------------------------------------------------
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
}
#header .header-content {
	margin: 0 auto;
	padding: 60px 10%;
	width: 100%;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}
#header .logo {
	float: left;
}
#header.fixed {
	background-color: rgba(255, 255, 255, 1);
}
#header.fixed .header-content {
	border-bottom: 0;
	padding: 25px 10%;
}
#header.fixed .nav-toggle {
	top: 18px;
}
.navigation.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navigation {
	float: right;
}
.navigation li {
	display: inline-block;
}
.navigation, .navigation a {
	color: rgba(0, 0, 0, 1);
	font-size: 16px;
	margin-left: 40px;
	letter-spacing: -1px;
}
.navigation a:hover, .navigation a.active {
	color: #000;
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color: #333;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color: #000;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
/* ------------------------------------------------------------------------------
	 Hero content
-------------------------------------------------------------------------------*/
.hero {
	margin-top: 10%;
}
.hero-content {
}
.hero h1 {
	font-size: 48px;
	text-transform: uppercase;
}
.hero h4 {
	font-weight: 400;
}
.hero p {
	padding-top: 20px;
}
/* ------------------------------------------------------------------------------
	 Portfolio
-------------------------------------------------------------------------------*/
#portfolio .portfolio-item {
	right: 0;
	margin: 0 0 20px;
	padding: 0 10px;
}
#portfolio .portfolio-item .portfolio-link {
	display: block;
	position: relative;
	margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(58,54,54,.9);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
	opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
	margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3 {
	margin: 0;
	color: #e9eaed;
	font-size: 17px;
	letter-spacing: 4px;
	text-transform: uppercase;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
	margin: 10px 0;
	color: #e9eaed;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#portfolio * {
	z-index: 2;
}
/* ------------------------------------------------------------------------------
	 Service
-------------------------------------------------------------------------------*/
.service {
	margin-bottom: 50px;
}
.service h4 {
	font-size: 19px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
}
.service-content {
	margin-top: 30px;
}
.service .icon {
	color: #a1a4a8;
	font-size: 48px;
}
.service-content h5 {
	text-transform: uppercase;
	font-weight: 400;
	color: #000;
}
/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/
.footer {
	text-align: left;
	background-color: #333333;
	padding: 1%;
}
.footer h4 {
	color: #E6FF00;
	margin: 0 0 10px 0;
	padding: 0px;
}

.footer p {
	font-family: Heebo;
	font-size: 14px;
	color: #888888;
}
.footer a {
	color: #E6FF00;
}
.footer a:hover {
	text-decoration: underline;
}
.footer .fa-heart {
	color: #E6FF00;
	font-size: 11px;
	margin: 0 2px;
}

/* ------------------------------------------------------------------------------
	 MOBILE PAGE
-------------------------------------------------------------------------------*/

#visMobile1 {
	width:100%;
	height:300px;	
}

.wrap {
    margin: 0px 10px 0px 10px;
  }


/* ------------------------------------------------------------------------------
	Topics
-------------------------------------------------------------------------------*/

/* Links as buttons */
.topics a {
	font-family: "Heebo";
	font-size: 18px;
	font-weight: 900;
    background-color: #0198E1 ;
    padding: 0.5em 0.5em;
    text-decoration: none;
    text-transform: bold;
    border-radius: 12px;
    margin: 0px;
}

/* unvisited link */
.topics a:link {
  color: #fcf787;
  text-decoration: none;
}

/* visited link */
.topics a:visited {
  color: #fcf787;
  text-decoration: none;
}

/* mouse over link */
.topics a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
.topics a:active {
  color: blue;
  text-decoration: none;
}

