/* Richard Davies
Data Science 2021
Example CSS */


body{
    background-color: black;
}

.chart{
    background-color: chartreuse;
}

h1, p {
    color:white
}

body{
    max-width: 350px;
    margin: auto;
}

.chart{
    background-color:white;
    width:400px;
}

/* .chart{
    background-color:white;
    width:350px;
} */


/* body{
    background-color: rgb(253, 241, 241);
}

h1, p {
    color:rgb(41, 39, 39)
} */

/* .chart{
    background-color:white;
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: pink;
    width:400px;
} */

